{% extends 'base.html' %}

{% block title %}
  New Post
{% endblock %}

{% block content %}
<h1>New Post</h1>
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button type="submit" class="btn btn-secondary">Create</button>
  </form>
</div>


<script>
  //Ver nos comentários outras formas de usar essa lógica sem JS.
  //https://www.youtube.com/watch?v=TAH01Iy5AuE

  //Se em forms estiver 'type': 'hidden' e na linha debaixo fizer let name = user.username, irá dar o seguinte erro: '(Hidden field author) Select a valid choice. That choice is not one of the available choices'. Neste caso o Django necessita do id do usuário.
  let name = "{{user.id}}" 
  document.getElementById('userid').value = name
</script>

{% endblock %}