{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <h1>Change Password</h1>
  <br><br>
  <div class="form-group">
    <form id="id_password_change_form" method="POST">
      {% csrf_token %}
      <input type="password" id="id_old_password" required="true" name="old_password">
      <input type="password" id="id_new_password1" required="true" name="new_password1">
      <input type="password" id="id_new_password2" required="true" name="new_password2">

      {% for field in form %}
         {% for error in field.errors %}
            <p style="color:red">{{error}}</p>
         {% endfor %}
      {% endfor %}

      <button>Update</button>
    </form>
  </div>
{% endblock %}